<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <!--<add key="Assignees" value="fzhong, wbu, fxu, fezhong, zhang, jazhang, sgao, fqin, lchen, sfan"/>-->
    <!--<add key="Projects" value="Aviva Singapore,Singapore Life,Mercer,Reorient, ANZTK"/>-->
    <add key="Assignees" value="wbu"/>
    <add key="Projects" value="Reorient, ANZTK"/>
    <add key="BaseUri" value="https://projects.fnz.com"/>

    <add key="Period" value="startOfWeek"/>  <!--startOfMonth-->
    <add key="PeriodOffset" value="-1"/>

  </appSettings>

</configuration>
